<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

    <nav>
        <!-- TODO: make navbar functional -->
        <div>
            <h2>DnB Garage</h2>
        </div>

        <div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Admin</a></li>
                <li><a href="">Dashboard</a></li>
            </ul>
        </div>
    </nav>

    <!-- HTTP methods - GET POST PUT PATCH ( update parts of existing resource ) DELETE OPTIONS -->
    <!-- API Endpoints = HTTP method + path -->
    <!-- Clearly defined request + response data structure -->