<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

    <nav>
        <!-- TODO: make navbar functional -->
        <div>
            <h2><a href="/api"> DnB Garage </a></h2>
        </div>

        <div>
            <ul>
                <li><a href="/api/documentation">Documentation</a></li>
                <li><a href="/api/admin">Admin</a></li>
                <li><a href="/api/dashboard">Dashboard</a></li>
            </ul>
        </div>
    </nav>

    <!-- HTTP methods - GET POST PUT PATCH ( update parts of existing resource ) DELETE OPTIONS -->
    <!-- API Endpoints = HTTP method + path -->
    <!-- Clearly defined request + response data structure -->

