<%- include('includes/head.ejs') %>

<title><%= pageTitle %></title>

<%- include('includes/nav.ejs') %>

    <form method="POST">
        <input required class="form-field" type="text" name="txtArtistName" placeholder="Artist Name">
        <input required class="form-field" type="text" name="txtSubgenre" placeholder="Subgenre1,Subgenre2">

        <!-- TODO: similar artists array -->

        <input required class="form-field" type="text" name="txtUrl1" placeholder="Youtube Link 1">
        <input required class="form-field" type="text" name="txtSong1" placeholder="Song Name 1">
        <input required class="form-field" type="text" name="txtLyrics1" placeholder="Yes / No">
        <input required class="form-field" type="text" name="txtVibe1" placeholder="Vibe 1">
        <input required class="form-field" type="text" name="txtUrl2" placeholder="Youtube Link 2">
        <input required class="form-field" type="text" name="txtSong2" placeholder="Song Name 2">
        <input required class="form-field" type="text" name="txtLyrics2" placeholder="Yes / No">
        <input required class="form-field" type="text" name="txtVibe2" placeholder="Vibe 2">
        <input required class="form-field" type="text" name="txtUrl3" placeholder="Youtube Link 3">
        <input required class="form-field" type="text" name="txtSong3" placeholder="Song Name 3">
        <input required class="form-field" type="text" name="txtLyrics3" placeholder="Yes / No">
        <input required class="form-field" type="text" name="txtVibe3" placeholder="Vibe 3">

        <button class="btn" type="submit">Add New Artist</button>
    </form>

</body>

</html>