<%- include('includes/head.ejs') %>

<title><%= pageTitle %></title>

<%- include('includes/nav.ejs') %>

    <form method="POST">
        <input required class="form-field" type="text" name="txtArtistName" value="AA" placeholder="Artist Name">
        <input required class="form-field" type="text" name="txtSubgenre" value="AAA" placeholder="Subgenre">

        <!-- TODO: similar artists solution -->

        <input required class="form-field" type="text" name="txtUrl1" value="URL1" placeholder="Youtube Link 1">
        <input required class="form-field" type="text" name="txtSong1" value="S1" placeholder="Song Name 1">
        <input required class="form-field" type="text" name="txtUrl2" value="URL2" placeholder="Youtube Link 2">
        <input required class="form-field" type="text" name="txtSong2" value="S2" placeholder="Song Name 2">
        <input required class="form-field" type="text" name="txtUrl3" value="URL3" placeholder="Youtube Link 3">
        <input required class="form-field" type="text" name="txtSong3" value="S3" placeholder="Song Name 3">

        <button class="btn" type="submit">Add New Artist</button>
    </form>

</body>

</html>