<%- include('includes/head.ejs') %>

<title><%= pageTitle %></title>

<%- include('includes/nav.ejs') %>



    <main class="main-form"> 
        <form method="POST">
            <fieldset>
                <legend>General</legend>
                <input required class="form-field" type="text" name="txtArtistName" placeholder="Artist Name">
                <input required class="form-field" type="text" name="txtSubgenre" placeholder="Subgenres">
            </fieldset>
            <fieldset> 
                <legend>Song 1</legend>
                <input required class="form-field" type="text" name="txtUrl1" placeholder="Youtube Link">
                <input required class="form-field" type="text" name="txtSong1" placeholder="Song Name">
                <input required class="form-field" type="text" name="txtLyrics1" placeholder="Lyrics Yes / No">
                <input required class="form-field" type="text" name="txtVibe1" placeholder="Vibe">
            </fieldset>
            <fieldset> 
                <legend>Song 2</legend>
                <input required class="form-field" type="text" name="txtUrl2" placeholder="Youtube Link">
                <input required class="form-field" type="text" name="txtSong2" placeholder="Song Name">
                <input required class="form-field" type="text" name="txtLyrics2" placeholder="Lyrics Yes / No">
                <input required class="form-field" type="text" name="txtVibe2" placeholder="Vibe">
            </fieldset>
            <fieldset> 
                <legend>Song 3</legend>
                <input required class="form-field" type="text" name="txtUrl3" placeholder="Youtube Link">
                <input required class="form-field" type="text" name="txtSong3" placeholder="Song Name">
                <input required class="form-field" type="text" name="txtLyrics3" placeholder="Lyrics Yes / No">
                <input required class="form-field" type="text" name="txtVibe3" placeholder="Vibe">
            </fieldset>

            <button class="btn" type="submit">Add New Artist</button>
        </form>

        <ul class="background-animation_ul">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </main>

</body>

</html>