<%- include('includes/head.ejs') %>

<title><%= pageTitle %></title>

<%- include('includes/nav.ejs') %>

</body>

<main>
    <table>
        <tr>
            <th>Method</th>
            <th>Endpoints</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/</td>
            <td>Get all the records.</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/id/:id</td>
            <td>Get specific record by id.</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/name/:artistName</td>
            <td>Get specific record filtered by artist name / first characters of artist's name.</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/subgenre/:subgenre/:sIssues</td>
            <td>Get specific record(s) based on subgenre with a set number of issues to retrieve.</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/date/:date</td>
            <td>Get records filtered by date with "today", "YYYY-MM-DD" and "YYYY-M-D" as accepted formats.</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/song/:songTitle</td>
            <td>Get records for songs by using search queries that match song names or part of their names.</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/lyrics/:boolean</td>
            <td>Get records for songs from various artists based on them containing lyrics or not.</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/vibe/:vibe</td>
            <td>Get records for songs from various artists based on their vibe.</td>
        </tr>
    </table>
</main>

</html>