@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-top: 0.4rem;
}

nav ul li {
    padding: 1rem;
    display: inline-block;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1B2A27;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

nav h2 {
    margin: 0;
    padding: 1rem;
    font-family: 'Anton',sans-serif;
    color: #1B2A27;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dbe1e4;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
}

form * {
    width: 150px;
    justify-self: center;
}

.form-field {
    display: inline-block;
    margin: 1rem;
    padding: 0.25rem;
    border: 1px solid #1b2a27;
}

.btn {
    padding: 0.25rem;
    background-color: #03d7c2;
    border: 0;
    width: 160px;
    margin: 1rem;
    color: white;
    font-weight: bold;
}

main {
    margin: 1.25rem;
}

h1 {
    color: #1B2A27;
}

.artist-article {
    margin: 1.5rem;
    width: 320px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.artist-article iframe {
    width: 100%;
}

.artist-article * {
    color: #1B2A27;
}

.artist-article *:not(iframe):not(.genre):not(.btn) {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}

iframe {
    border: 0;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.85;
}

.artist-article small {
    font-weight: bold;
    color: #9986E3;
}

.artist-article h4 {
    font-size: 22px;
    margin: 0;
}

.artist-article p {
    margin: 0;
}

.artist-article .genre {
    color: #9986E3;
}

.artist-article a {
    font-size: 18px;
    text-decoration: none;
    margin-top: 1rem;
}

.artist-article_action {
    display: flex;
    justify-content: center;
}

.artist-article_action .btn {
    margin: 0;
    margin-top: 0.5rem;
    margin-right: 1rem;
    width: 100px;
    display: inline-block;
}

.artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* #1B2A27 - dark
   #03D7C2 - teal
   #9986E3 - violet
   #DBE1E4 - grey
   #F47847 - orange
   #EFEB3D - yellow
*/
